* {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    display: block;
}

.btn {
    padding: 25px;
    background-color: rgb(179, 196, 179);
    margin: 0 auto;
    margin-top: 15px;
    width: 30%;
    font-size: 25px;
    color: black;
    border-radius: 25px;
    border-style: solid; 
}

/*Index HTML*/
#welcome-msg-container div {
    padding: 15px;
    margin: 15px;
}

#welcome-msg-container p {
    font-size: 20px;
}
/*JS*/
#hide {
    display: none;
}

#show {
    display:block;
}

/*quiz.html*/

#time-text {
    padding: 20px;
    background-color:lightgrey;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    border-style: dashed;
}

#question-title {
    padding: 30px;
}

#choices-container li {
    font-size: 20px;
    padding: 25px;
    border: 3px solid black; 
    width: 50%;
    background-color:lightgrey;
    margin: 0 auto;
}

.allDondeh1 {
    color: rgb(255, 0, 0);
    font-size: 70px;
    padding: 15px;
}

.yourFinalScore {
    font-size: 30px;
    padding: 15px;
}

.btn-sbmt-score { 
    width: 12%;
    padding: 5px;
}

#enter-initials {
    height: 60px;
    font-size: 30px;
}

#feedback {
    font-size: 30px;
    color: rgba(120,120,120,0.8);
}


/*Highscores*/

#scores-container {
    padding: 55px;
}

#scores-container li {
    font-size: 50px;
}